body{
    margin: 0;
    padding: 0;
    display: block;
    font-family: "inter";
}


/*header*/

.banner-head{
    height: 939px;
    background-image: url(./img/Rectangle\ 4.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.menu {
    width: 500px;
    margin: 0 50px;
    padding: 80px 250px;
}
   
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

nav ul li{
    margin: 0;
}

nav ul li a{
    color: white;
    text-decoration: none;
    text-transform: capitalize;
}

/*main*/

.about-title{
    width: 1037px;
    margin: 117px auto;
}

h1{
    font-size: 60px;
    font-weight: 600;
}

.font-50px{
    font-size: 50px;
}

p.about-text{
    font-weight: 400;
    font-size: 40px;
}

.bold{
    font-weight: 700;
}
.red{
    color: red;
}

.main-banner{
    height: 811px;
    background-image:  url(./img/image\ 26.png), url(./img/Rectangle\ 79.png);
    background-repeat: no-repeat, no-repeat;
    background-size: 504px 429px, cover;
    background-position: 100% 50%, 0 0;
}

.banner-text{
    width: 750px;
    color: white;
    padding: 79px 167px;
}

.title.main {
    font-size: 60px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.text-28px{
    font-weight: 400;
    font-size: 28px;
    width: 730px;
    margin: 50px 0;
    letter-spacing: 3px;
}

.clan-banner{
    height: 652px;
    background-image: url(./img/image\ 8.png);
    background-repeat: no-repeat;
    background-size: 430px 652px;
    margin: 108px 0;
}

.title.clan {
    font-size: 50px;
    font-weight: 600;
    margin-left: 473px;
    text-transform: capitalize;
    padding-top: 60px;
}

.text.clan {
    width: 871px;
    margin-left: 473px;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 2px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    text-align: justify;
}

.heros {
    margin: 0 100px;
    overflow: auto;
}

.title-characters h2{
    font-size: 50px;
    font-weight: 600;
    color: rgba(0, 0, 0, 1);
    margin: 30px 170px;
}

.title-characters p{
    font-size: 40px;
    font-weight: 500;
    margin: 0 210px;
}

.hero {
    float: left;
    width: 650px;
    padding: 30px 60px;
    box-sizing: border-box;
}

.img-container{
    width: 520px;
    height: 493px;
    overflow: hidden;
    background-color: black;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hero-title {
    text-align: center;
    font-weight: 500;
    font-size: 40px;
}

p.hero-text{
    margin: 20px 0;
    font-size: 25px;
    font-weight: 300;
}

.elixir {
    width: 1140px;
    margin: 100px auto;
}

.elixir-hero {
float: left;
overflow: auto;
}

.elixir-hero img {
    width: 360px;
    height: 500px;
    overflow: hidden;
    background-color: black;
}

.elixir-hero.padding_30px {
padding: 0 30px;
}

.elixir-name {
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}

.footer-banner{
    height: 790px;
    background-image: url(./img/Rectangle\ 24.png) ,url(./img/Rectangle\ 78.png);
    background-repeat: no-repeat, no-repeat;
    background-size: 504px 429px, cover;
    background-position: 100% 50%, 0 0;
}

.footer-text{
    color: white;
}

.footer-text h2{
    font-size: 50px;
    font-weight: 600;
    padding: 147px 0 0 170px;
}

.footer-text p {
    font-size: 28px;
    font-weight: 400;
    width: 751px;
    letter-spacing: 4px;
    margin: 31px 171px;
}
.upper {
    text-transform: uppercase;
    padding-top: 26px;
}


.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.socmedia {
    display: inline-flex;
    margin-left: 160px;
}

.socmedia img {
    width: 17px;
    height: 17px;
    padding: 14px;
}



