@media (max-width: 768px) {
}

@media (max-width: 992px) {
    
}

@media (min-width: 992px) {
    header, main, footer {
        width: 100vw;
        margin: 0 auto;
    }

}

@media (max-width: 1620px) {
    header, main, footer {
        width: 1650px;
        margin: 0 20vw;
    }
}