@font-face{
    font-family: Rosario;
    src: url("./Rosario_font/Rosario-Bold.ttf");
    font-weight: 700;
}

@font-face{
    font-family: Rosario;
    src: url("./Rosario_font/Rosario-BoldItalic.ttf");
    font-weight: 700;
    font-style: italic;
}

@font-face{
    font-family: Rosario;
    src: url("./Rosario_font/Rosario-SemiBold.ttf");
    font-weight: 600;
}

@font-face{
    font-family: Rosario;
    src: url("./Rosario_font/Rosario-SemiBoldItalic.ttf");
    font-weight: 600;
    font-style: italic;
}





:root{
    --black-color: rgba(0, 0, 0, 1);
    --white-color: rgba(255, 252, 252, 1);
    --gray-color: rgba(229, 229, 229, 1);
    --title-size: 96px;
    --nav-size: 36px;

}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: Rosario;
}

p, ul{
    margin: 0;
    padding: 0;
}

figure {
    margin: 0;
    padding: 0;
}

header, main, footer {
    width: 1920px;
    margin: 0 auto;
}

/*HEADER*/

header{
    height: 10vh;
    background-color: var(--black-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 1000;
    top: 0;
}

img{
    width: 100%;
    height: 100%;
}

.logo{
    width: auto;
    height: 10vh;
}

.navbar {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 2em;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 3em;
    height: 100%;
    align-items: center;
}

.nav-item a {
    text-decoration: none;
    color: var(--white-color);
    font-size: var(--nav-size);
    font-style: italic;
}

.nav-item a:hover{
    color: var(--gray-color);
}

/*MAIN - GALLERY*/

.screen{
    min-height: 100vh;
}

.gallery{
    display: flex;
    gap: 2rem;
    align-items: center;
}

.foto{
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.foto img{
    width: 100%;
}

.left, .left-top, .left-bot{
    transform: translateX(-100vw);
}
.right, .right-top, .right-bot{
    transform: translateX(100vw);
}

.left-top, .left-bot{
    animation: showLeft 1s ease-in forwards;
}
.left{
    animation: showLeft 2s ease-in forwards;
}

.right-top, .right-bot{
    animation: showRight 1s ease-in forwards;
}
.right{
    animation: showRight 2s ease-in forwards;
}

@keyframes showLeft{
    from{
        transform: translateX(-100vw);
    }to{
        transform: translateX(0);
    }
}

@keyframes showRight{
    from{
        transform: translateX(100vw);
    }to{
        transform: translateX(0);
    }
}


/*SERVICES*/

.back-foto{
    background-image: url(./img/side_foto.png);
    background-repeat: no-repeat;
    background-position: right;
}

.services {
    display: flex;
    gap: 3rem;
}

.serv, .back-foto {
    flex: 1;
}

.serv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

figcaption {
    font-size: 48px;
    font-style: italic;
    text-align: center;
}

.team-title {
    font-size: var(--title-size);
    text-align: center;
    margin: 4rem auto;
}

.experts {
    display: flex;
    justify-content: space-between;
    /*gap: 3rem;*/
}

.exp {
    position: relative;
}

.exp img {
    height: 630px;
    width: 370px;
}

.overlay {
    position: absolute;
    background-color: rgba( 0, 0, 0, 0.5);
    width: 370px;
    height: 630px;
    border-radius: 38px;
    top: 0;
}

.name {
    background-color: rgba(163, 83, 10, 0.7);
    width: 370px;
    height: 154px;
    position: relative;
    bottom: 157px;
    border-radius: 0 0 40px 40px;
}

.name p {
    color: white;
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    line-height: 3;
}

.name {
    display: none;
}

.exp:hover .overlay {
    display: none;
}

.exp:hover .name {
    display: block;
}


/*FOOTER*/

.contact {
    display: flex;
    justify-content: space-between;
    gap: 10rem;
}

.form-title {
    font-size: 64px;
    font-style: italic;
    text-align: center;
}

.form-back {
    background-color: var(--gray-color);
    margin-top: 3rem;
}


.flex input {
    width: 23rem;
    height: 5rem;
    margin: 2.5rem 1rem 2.5rem 2.5rem;
    border: none;
    font-size: 36px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
    font-family: Rosario;
    padding-left: 2rem;
}

textarea {
    width: 50rem;
    height: 12rem;
    margin: 1rem 2.5rem 2.5rem 2.5rem;
    border: none;
    font-size: 36px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
    padding: 1rem 2rem;
    font-family: Rosario;
}

.map {
    margin-top: 1rem;
}

.map iframe {
    height: 37.5rem;
}


.contact-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 6rem;
}

.col-text {
    flex: 1;
    margin: 0 2rem;
}

.contact-info, .hours, .soc {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-item {
    display: flex;
    justify-content: center;
}

.bold-30, .bold-36 {
    margin: 0;
    margin-right: 10px;
}

.semibold-30 {
    margin: 0;
}

.aling {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.aling a {
    display: flex;
    align-items: center;
}

.bold-30{
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
}

.semibold-30{
    text-decoration: none;
    color: var(--black-color);
    font-size: 30px;
    font-weight: 600;
    font-style: italic;
    padding-bottom: 0.5rem;
}

.bold-36 {
    font-size: 36px;
    font-weight: 700;
    font-style: italic;
    padding-bottom: 1rem;
}
.padd-1{
    padding-bottom: 1rem;
}

/*
@media (max-width: 768px) {
    header, main, footer {
        width: 100vw;
        margin: 0 auto;
    }
}

@media (max-width: 992px) {
    
}


@media (max-width: 992px) {
    header, main, footer {
        width: 992px;
        margin: 0 auto;
    }

}
    */




