*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

p{
    margin: 0;
    padding: 0;
}

.conteiner {
    max-width: 1480px;
    margin: 0 auto;
}

main{
    display: flex;
    justify-content: space-between;
}

.left-side {
    width: 850px;
    margin: 85px 100px 0 205px;
}

.right-side {
    width: 590px;
    background-color: rgba(249, 250, 255, 1);
}

.padding-element{
    padding: 27px 0 39px 0;
}

.image{
    background-image: url(./img/some_img.png);
    height: 100%;
    background-repeat: no-repeat;
    background-position: right 157px;
}

.member {
    display: flex;
    justify-content: right;
}
.member a {
    text-decoration: none;
    font-size: 14px;
    padding-right: 15px;
    color: rgb(71, 67, 224);
}

.descript {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    align-items: center;
}

.title {
    font-size: 54px;
    color: rgb(66, 80, 92);
    font-weight: 600;
}

.term {
    font-size: 14px;
    color: rgb(64, 64, 64);
    line-height: 2;
    padding: 0 0 0 120px;
}

.bold a {
    text-decoration: none;
    font-weight: 500;
    color: rgb(71, 67, 224);
}

.line {
    border-top: 3px dashed rgb(0, 0, 0);
    width: 689px;
    margin: 48px 0 10px auto;
}

/*FORM*/

label {
    display: flex;
    align-items: center;
}

.two-colums {
    display: flex;
    justify-content: space-between;
    border-top: 3px dashed rgb(0, 0, 0);
    padding: 42px 0 38px 0;
    margin-top: 48px;
    flex-wrap: wrap;
}

.password{
    border-top: 3px dashed rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    padding: 42px 0 38px 0;
    margin: 48px 0 38px 0;
    gap: 120px;
}

.register{
    border-top: 3px dashed rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    padding: 42px 0 38px 0;
    margin: 0;
}

.column {
    display: flex;
    flex-direction: column;
    
}

.flex-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}

input.custom-field {
    width: 300px;
    height: 48px;
    font-size: 14px;
    letter-spacing: 1.3px;
    padding-left: 12px;
    margin-top: 15px;
    opacity: 40%;
}

.text-opacity {
    padding-right: 24px;
    opacity: 40%;
}

.text-opacity2 {
    padding-right: 130px;
    opacity: 40%;
}

.red{
    color: red;
}

/*RADIO BTN*/

.flex-btn {
    display: flex;
    justify-content: space-between;
}

.custom-radio {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.custom-radio input[type="radio"] {
    display: none;
}

.radio-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 68px;
    border: 1px solid rgba(209, 209, 209, 1);
    color: #808080;
    margin-top: 15px;
    transition: border-color 0.2s;
    text-align: center;
    font-size: 14px;
}

.custom-radio input[type="radio"]:checked + .radio-btn {
    border-color: rgba(71, 67, 224, 1);
    box-shadow: 0 0 14px rgba(71, 67, 224, 0.2);
    color: rgba(71, 67, 224, 1);
}

.radio-btn:hover {
    box-shadow: 0 0 14px rgba(71, 67, 224, 0.2);
}

/*checkbox*/

.checkbox {
    display: flex;
    align-items: center;
}

.custom-checkbox {
    display: none;
}

.checkbox label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.checkbox .input {
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 2px solid rgba(40, 205, 126, 1);
    margin-right: 15px;
    position: relative;
}

.checkbox .input:after {
    content: "";
    position: absolute;
    display: none;
}

.custom-checkbox:checked + label .input {
    background-color: rgba(40, 205, 126, 1);
    border-color: rgba(40, 205, 126, 1);
}

.custom-checkbox:checked + label .input:after {
    display: block;
}

.checkbox .input:after {
    left: 6px;
    width: 7px;
    height: 13px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.checkbox .input:hover {
    box-shadow: 0 0 10px rgb(40, 205, 126);
}

/*submit btn*/

.submit-btn {
    width: 102px;
    height: 48px;
    background-color: rgb(71, 67, 224);
    border: none;
    color: white;
    letter-spacing: 0.25px;
    cursor: pointer;
}

.submit-btn:hover {
    box-shadow: 0px 0px 10px rgb(71, 67, 224);
    font-weight: 600;
}


