body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "PT Sans";
    background-color: rgb(251, 228, 255);
}

*, *::before, *::after {
    box-sizing: inherit;
}

p{
    margin: 0;
    padding: 0;
}

ul{
    margin: 0;
    padding: 0;
}

/*header*/

header {
    background-color: rgb(36, 59, 147);
}

.head{
    margin: 0 283px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(255, 255, 255);
    padding-top: 7px;
    height: 65px;
}

.menu.upper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 717px;
    padding: 0 30px 0 80px;
}

.menu.upper li{
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    line-height: 1.2;
    letter-spacing: 2px;
    list-style-type: none;
}

.menu.upper li a {
    text-decoration: none;
    color: white;
}

.lang {
    display: flex;
    align-items: center;
}

.upper {
    text-transform: uppercase;
}

.ua.upper{
    font-weight: 700;
    font-size: 28px;
    padding-left: 10px;
}

.head-titel {
    height: 85px;
    background-color: rgb(191, 240, 255);
    margin-top: 3px;
    color: rgb(32, 40, 70);
}

.mrg283{
    margin: 0 283px;
}

.title.mrg283 p:first-of-type{
    line-height: 1.7;
    font-weight: 400;
    font-size: 44px;
    font-style: italic;
}

.subtitle {
    background-color: white;
    height: 57px;
    margin: 10px;
}

/*header*/

/*body*/

/*main*/

.main-content {
    margin: 0 283px;
}

.subtitle {
    background-color: white;
    height: 57px;
    margin: 27px 0 30px 0;
    text-align: center;
    color: rgba(0, 0, 0, 0.61);
    font-weight: 400;
    font-size: 28px;
    line-height: 1.9;
}

.card {
    display: flex;
    background-image: linear-gradient(to right, rgb(173, 203, 212), rgb(0, 174, 229));
    height: 300px;
    margin-bottom: 42px;
    position: relative;
}

.foto {
    width: 1100px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 33px 30px 21px 52px;
}

.sub-card {
    font-weight: 700;
    font-size: 36px;
    font-style: italic;
    color: rgb(53, 60, 87);
    border-bottom: 3px solid white;
    width: 500px;
    padding-bottom: 10px;
    padding-top: 5px;
}

.text {
    background-color: rgb(237, 251, 255);
    margin: 10px 53px 21px 0;
    padding: 10px 40px 10px 16px;
    width: 500px;
    height: 205px;
}

.star {
    position: absolute;
    left: 78%;
    top: 57%;
}

.star-yell {
    position: absolute;
    left: 78%;
    top: 57%;
}

.more-btn{
    background-color: rgb(36, 59, 147);
    width: 194px;
    height: 46px;
    position: absolute;
    border-radius: 30px;
    left: 83%;
    top: 81%;
    text-align: center;
}

.more-btn a {
    text-decoration: none;
    color: white;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.8;
}

.card:hover {
    box-shadow: 0 0 60px 4px rgb(44, 189, 235);
    background-color: rgb(44, 189, 235);
    background-image: none;
}

.card:hover .more-btn {
    background-color: rgba(239, 7, 91, 1);
}

.stars {
    position: absolute;
    left: 94%;
    top: 3%;
    transition: z-index 0.3s ease;
}

.star{
    z-index: 1;
}
.star.yell{
    z-index: 0;
}

.card:hover .star.yell {
    z-index: 2;
}

.form-titel {
    background-image: linear-gradient(to right, rgb(255, 230, 1) , rgb(85, 214, 255) );
    color: rgb(32, 40, 70);
    height: 85px;
    margin-bottom: 36px;
}

.form {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient( rgb(133, 158, 255) , rgba(105, 255, 210, 0.5) );
    height: 498px;
    align-items: center;
}

.right{
    color: rgb(53, 60, 87);
    padding-right: 40px;
}
.bold{
    font-weight: 700;
    font-size: 30px;
}
.normal{
    font-weight: 400;
    font-size: 30px;
}

.info {
    border-bottom: 3px solid white;
    margin: 30px auto;
}


.btn {
    width: 250px;
    height: 50px;
    border-radius: 30px;
    text-align: center;
}

.btn a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.8;
}

.btn.avatar{
    background-color: rgba(36, 59, 147, 1);
    margin: 25px 0;
}
.btn.setting{
    background-color: rgba(239, 7, 91, 1);
}

.left {
    margin-left: 50px;
}

.left {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exit {
    display: flex;
    justify-content: center;
    margin: 19px 0 56px 0;
}

.exit a {
    background-color: rgb(36, 59, 147);
    width: 174px;
    height: 50px;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    color: white;
    line-height: 3;
}

/*footer*/

.footer-titel {
    color: rgb(36, 59, 147);
    background-image: linear-gradient(to right, rgb(84, 214, 255) , rgb(255, 230, 0) );
}

.footer-info {
    display: flex;
}

.map {
    margin-top: 25px;
    margin-left: 25px;
}

.map iframe {
    width: 400px;
    height: 260px;
    border: 3px solid rgb(36, 59, 147) !important;
    border-radius: 30px;
}

.contact{
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 25px;
}

.line {
    border-top: 3px solid rgb(32, 40, 70);
    margin: 5px 0;
}
.first {
    width: 200px;
}
.second {
    width: 306px;
}

.contact a {
    text-decoration: none;
    color: black;
}

.extra-mrg {
    margin-top: 30px;
}

.footer-last {
    height: 65px;
    background-color: rgb(36, 59, 147);
    color: white;
    font-size: 16px;
    line-height: 4;
    margin-top: 30px;
}
















