body{
    margin: 0;
    padding: 0;
}

.conteiner{
    height: 490px;
    width: 404px;
    background-color: black;
    margin: 20px auto;
}

.logo{
    display: flex;
    margin: 0 auto;
    background-image: url("img/Vector.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 69.73px 70.46px;
    height: 140px;
    width: 140px;
    border: solid 4px white;
    border-radius: 50%;
}

.title{
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 29px;
    line-height: 35.35px;
    text-align: center;
    letter-spacing: 10px;
    color: white;
}

.butt-conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.butt-content{
    background-color: transparent;
    border: 4px solid white;
    font-family: "Montserrat";
    color: white;
    text-transform: uppercase;
    width: 302px;
    height: 50px;
    font-weight: 800;
    font-size: 15px;
    letter-spacing: 5px;
    margin: 26px;
    cursor: pointer;
}

.butt-content:hover {
    color: blue;
    border: 6px solid blue;
  }
